<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page with Input</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <button class="back-button" id="backToHomeButton">Back to Home</button>
    <div class="background"></div>
    <div class="container">
        <div class="panda-chat">
            <img src="panda.png" alt="Panda" class="panda-image" style="height:auto;width:200px ;">
            <div class="chat-text">
                <span id="typing-text">Chat with our Panda Bot</span>
            </div>
        </div>
        <div id="output"></div>
        <ul id="productList" style="display: none;">
            <li><img src="images/bag-1.png" class="product-image" alt="Bag 1"></li>
            <li><img src="images/bag-2.png" class="product-image" alt="Bag 2"></li>
            <li><img src="images/bag-3.png" class="product-image" alt="Bag 3"></li>
            <li><img src="images/shoe-1.png" class="product-image" alt="Shoe 1"></li>
            <li><img src="images/shoe-2.png" class="product-image" alt="Shoe 2"></li>
            <li><img src="images/shoe-3.png" class="product-image" alt="Shoe 3"></li>
        </ul>
        <ul id="shoesList" style="display: none;">
            <li><img src="images/shoe-1.png" class="shoes-image" alt="Shoe 1"></li>
            <li><img src="images/shoe-2.png" class="shoes-image" alt="Shoe 2"></li>
            <li><img src="images/shoe-3.png" class="shoes-image" alt="Shoe 3"></li>
        </ul>
        <div class="chat-window" id="chatWindow">
            <!-- Messages will be appended here -->
        </div>
        
        <div class="input-group">
            <input type="text" id="userInput" placeholder="Type here...">
            <button id="submitButton">
                <img src="sendicon.png" alt="Send" class="submit-icon">
            </button>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>

