body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 50%; /* 50% of the parent element's width */
    height: 50vh;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

#output {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}

#productList {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.product-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

#shoesList {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.shoes-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
